<main>
    <app-header titulo="Cadastro"></app-header>

    <input type="button" value="Voltar" class="voltar-btn" (click)="goBack()">

    <div class="bts-container">

        <input type="button" value="Cadastro de Aluno" class="button" (click)="showFormCadastroAluno()">
        <input type="button" value="Cadastro de Professor" class="button" (click) = "showFormCadastroProf()">
    
    </div>
    <div class="form-container" *ngIf="canShow">
    
        <input type="text" name="nome" id="nome" placeholder="Nome">
        <input type="text" name="cpf" id="cpf" placeholder="CPF">
        <input type="tel" name="tel" id="tel" placeholder="Contato">
        <input type="date" name="dataNascimento" id="dataNascimento">
        <input type="text" name="endereco" id="endereco" placeholder="Endereço">
        <div class="caixa-selecao">
            <label for="nivel-formacao">Nível de Formação:</label>
            <select id="nivel-formacao" name="nivel-formacao" aria-placeholder="Nível de Formação:" >
                <option value="fundamental">Ensino Fundamental</option>
                <option value="medio">Ensino Médio</option>
                <option value="superior">Ensino Superior</option>
                <option value="pos-graduacao">Pós-Graduação</option>
                <option value="outros">Outros</option>
            </select>
        </div>
       

        <input type="email" name="email" id="email" placeholder="Email">
 

        <input type="text" name="areaEs" id="areaEs" placeholder="Área de especialização" *ngIf="isProf">
    
    
        <input type="button" value="Cadastrar" class="cadastrar-btn">
    
    </div>

</main>
