<main>
    <app-header titulo="Cadastro"></app-header>
    <div class="bts-container">

        <input type="button" value="Cadastro de Aluno" class="button" (click)="showFormCadastroAluno()">
        <input type="button" value="Cadastro de Professor" class="button" (click) = "showFormCadastroProf()">
    
    </div>
    <div class="form-container" *ngIf="canShow">
    
        <input type="text" name="nome" id="nome" placeholder="Nome">
        <input type="text" name="cpf" id="cpf" placeholder="CPF">
        <input type="tel" name="tel" id="tel" placeholder="Contato">
        <input type="date" name="dataNascimento" id="dataNascimento">
        <input type="text" name="endereco" id="endereco" placeholder="Endereço">
        <!-- input de formação faltando -->

        <input type="email" name="email" id="email" placeholder="Email">
 

        <input type="text" name="areaEs" id="areaEs" placeholder="Área de especialização" *ngIf="isProf">
    
    
        <input type="button" value="Cadastrar" class="login-btn">
    
    </div>

</main>
