<main *ngIf="showCadastroFormComponent">
    <app-header titulo="Cadastro"></app-header>
    <div class="bts-container">

        <input type="button" value="Cadastro de Aluno" class="button" (click)="showFormCadastroAluno()">
        <input type="button" value="Cadastro de Professor" class="button" (click) = "showFormCadastroProf()">
    
    </div>
    <div class="form-container" *ngIf="canShow">
    
        <input type="text" name="nome" id="nome" placeholder="Nome">
        <input type="text" name="email" id="email" placeholder="Email">
        
        
        <input type="text" name="???" id="???" placeholder="Campo professor" *ngIf="isProf">
    
    
        <input type="button" value="Cadastrar" class="login-btn">
    
    </div>

</main>
