<main>
<app-header titulo="Alterar Senha"></app-header>

    <input type="button" value="Voltar" class="voltar-btn" (click)="goBack()">

    <form class="form-container" (ngSubmit)="onPasswordChange()">

        <input type="text" name="cpf" id="cpf" placeholder="Login" [readonly]="true" [(ngModel)]="username">
        <input type="password" name="senha" id="senha" placeholder="Insira sua senha" [(ngModel)]="oldPassword">
        <input type="password" name="senhaNova" id="senhaNova" placeholder="Insira a nova senha" [(ngModel)]="newPassword">
        <input type="password" name="confirmSenhaNova" id="confirmSenhaNova" placeholder="Confirme a nova senha" [(ngModel)]="confirmPassword">

        <input type="submit" value="Trocar senha" class="trocarSenha-btn">
    </form>

</main>
