<main>
    <app-header titulo="Bem-Vindo"></app-header>

    <div class="bts-container">

        <input type="button" value="Sou Aluno" class="button" (click)="showForm()">
        <input type="button" value="Sou Professor" class="button" (click) = "showFormProf()">
        <input type="button" value="Admin" class="button" (click)="showForm()">
    
    </div>
    
    <form (ngSubmit)="onLogin()" class="form-container" *ngIf="canShow">

        <input type="text" [(ngModel)]="username" name="cpf" id="cpf" placeholder="CPF">
        <input type="password" [(ngModel)]="password" name="senha" id="senha" placeholder="Senha">
        

        <input type="text" name="codigoProf" id="codigoProf" placeholder="Código de professor" *ngIf="isProf">


        <input type="submit" value="Login" class="login-btn">
        <input type="button" value="Não tenho Cadastro" class="cadastro-btn" (click)="redirectToTelaCadastro()">
      </form>
      
    
</main>
