main {
  max-width: 1200px; /* Largura máxima da main */
  margin: 0 auto; /* Centraliza a main horizontalmente */
  padding: 20px; /* Adiciona um espaçamento interno */
}

/* Estilo do cabeçalho */
.mat-header-cell {
  background-color: #e0e0e0;
  font-weight: bold;
  border: 1px solid #ccc; /* Adiciona borda à célula do cabeçalho */
  padding: 8px;
}

/* Linhas pares */
.mat-row:nth-child(even) {
  background-color: #f2f2f2;
}

/* Linhas ímpares */
.mat-row:nth-child(odd) {
  background-color: #ffffff;
}

/* Estilo das células */
.mat-cell {
  border: 1px solid #ccc;
  padding: 8px;
}

/* Tabela */
table {
  margin-top: 30px;
  border-collapse: collapse;
  width: calc(100% - 20px); /* Reduz 20px para compensar a borda */
  border: 1px solid #ccc; /* Adiciona borda à tabela */
  margin-left: 10px; /* Margem esquerda para compensar a largura da borda */
  margin-right: 10px; /* Margem direita para compensar a largura da borda */
}

/* Ajuste de largura das colunas */
.mat-header-cell:first-child,
.mat-cell:first-child {
  width: 30%;
}

.mat-header-cell:nth-child(2),
.mat-cell:nth-child(2) {
  width: 20%;
}

/* Botão de exclusão */
.delete-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Efeito hover no botão de exclusão */
.delete-button:hover {
  background-color: darkred;
}
