.adc-btn{
    background-color: #090d7f;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(49, 22, 235, 0.3);
    color: #fff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.adc-btn:hover{
    background-color: #21248bde;
}


.voltar-btn{
    background-color: #b20d0d;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(49, 22, 235, 0.3);
    color: #fff;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}
.voltar-btn:hover{
    background-color: #b22e2ee2;
}

.logout-btn{
    background-color: #b20d0d;
    padding: 10px;
    border-radius: 10px;
    width: 5%;
    box-shadow: 3px 3px 3px rgb(49, 22, 235, 0.3);
    color: #fff;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-right: 5px;
    float: right;

}
    .logout-btn:hover{
        background-color: #b22e2ee2
    }

    h2 {
        margin-top: 20px;
        font-size: 30px;
        padding: 10px;
        color: #180b94;
        font-family: sans-serif;
    }