<main>
  <form class="modal-form" (ngSubmit)="criarNovoAluno()">
    <input class="input-field" type="text" placeholder="Nome" name="nome" [(ngModel)]="novoAluno.nome">
    <input class="input-field" type="text" placeholder="Turma" name="turma" [(ngModel)]="novoAluno.turma">

    <input class="input-field" type="text" placeholder="Disciplina" name="disciplina" [(ngModel)]="novoAluno.notas[0].disciplina">
    <input class="input-field" type="number" placeholder="Nota 1" name="n1" [(ngModel)]="novoAluno.notas[0].n1">
    <input class="input-field" type="number" placeholder="Nota 2" name="n2" [(ngModel)]="novoAluno.notas[0].n2">
    
    <button class="submit-button" type="submit">Salvar</button>
    <button class="cancel-button" type="button" (click)="cancelar()">Cancelar</button>
  </form>
</main>
